In [4]:
import os, sys
script_dir = os.getcwd()
module_path = script_dir
for _ in range(1):
    module_path = os.path.abspath(os.path.join(module_path, '../'))
    if module_path not in sys.path:
        sys.path.insert(0,module_path)

from GenZ import decode_moddeling, prefill_moddeling

import pandas as pd
from plotnine import *
import plotnine as p9
from GenZ.system import System
import pandas as pd
from GenZ.analye_model import *

In [5]:
# This will reload the imported modules (e.g. get_decode_model_characterstics) every time you execute the jupyter cells, so that you don't need to restart the notebook after updating the source codes.
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
model_df, summary_table = decode_moddeling(model = 'dbrx', batch_size = 1, Bb = 1 ,
                            input_tokens = 1024, output_tokens = 256, model_profilling=True,
                            tensor_parallel = 1, pipeline_parallel = 1, debug=True) 
display(model_df)
display(summary_table)

/Users/abambhaniya3/GenZ/GenZ/LLM_inference/llm_decode.py:108: UserWarning: All params would not fit on chip. System Memory Cap:40.0 GB , Weights : 242.8125 GB, KV Cache:0.1953125

,Op Type,Dimension,Op Intensity,Num ops (MFLOP),Input_a (MB),Input_w (MB),Output (MB),Total Data (MB)
0,GEMM,"[1, 8192, 1, 6144]",0.999715,100.663296,0.011719,96.0,0.015625,96.027344
1,Logit_MQA,"[1, 48, 1, 1024, 128, 8]",5.699443,12.582912,0.011719,2.0,0.09375,2.105469
2,Logit_MQA,"[1, 48, 1, 256, 128, 8]",5.605839,3.145728,0.011719,0.5,0.023438,0.535156
3,Attend_MQA,"[1, 48, 1, 1024, 128, 8]",5.699443,12.582912,0.09375,2.0,0.011719,2.105469
4,Attend_MQA,"[1, 48, 1, 256, 128, 8]",5.605839,3.145728,0.023438,0.5,0.011719,0.535156
5,GEMM,"[1, 6144, 1, 6144]",0.999675,75.497472,0.011719,72.0,0.011719,72.023438
6,GEMM,"[1, 43008, 1, 6144]",0.999814,528.482304,0.011719,504.0,0.082031,504.09375
7,GEMM,"[1, 129024, 0, 6144]",0.0,0.0,0.0,1512.0,0.0,1512.0
8,GEMM,"[1, 43008, 1, 6144]",0.999814,528.482304,0.011719,504.0,0.082031,504.09375
9,GEMM,"[1, 129024, 0, 6144]",0.0,0.0,0.0,1512.0,0.0,1512.0
10,GEMM,"[1, 6144, 1, 43008]",0.999814,528.482304,0.082031,504.0,0.011719,504.09375
11,GEMM,"[1, 6144, 0, 129024]",0.0,0.0,0.0,1512.0,0.0,1512.0

,MACs (MFLOP),Total Data (MB),Model Weights (MB),Unused Weights (MB),KV Cache (MB),AR data (MB),Pipe data (MB)
0,71722.5984,248864.53125,248640.0,181440.0,200.0,0.9375,0.0

In [7]:
for model in ['dbrx']:
    model_df, summary_table = prefill_moddeling(model = model, batch_size = 1,
                            input_tokens = 1024, output_tokens = 0, model_profilling=True,
                            tensor_parallel = 1, pipeline_parallel = 1) 
    print(model)
    display(model_df)
    display(summary_table)

dbrx

/Users/abambhaniya3/GenZ/GenZ/LLM_inference/llm_prefill.py:106: UserWarning: All params would not fit on chip. System Memory Cap:40.0 GB , Weights : 242.8125 GB, KV Cache:0.15625

,Op Type,Dimension,Op Intensity,Num ops (MFLOP),Input_a (MB),Input_w (MB),Output (MB),Total Data (MB)
0,GEMM,"[1, 8192, 1024, 6144]",792.774194,103079.215104,12.0,96.0,16.0,124.0
1,Logit_MQA,"[1, 48, 1024, 1024, 128, 8]",111.709091,12884.901888,12.0,2.0,96.0,110.0
2,Attend_MQA,"[1, 48, 1024, 1024, 128, 8]",111.709091,12884.901888,96.0,2.0,12.0,110.0
3,GEMM,"[1, 6144, 1024, 6144]",768.0,77309.411328,12.0,72.0,12.0,96.0
4,GEMM,"[1, 172032, 256, 6144]",245.409415,541165.879296,3.0,2016.0,84.0,2103.0
5,GEMM,"[1, 172032, 256, 6144]",245.409415,541165.879296,3.0,2016.0,84.0,2103.0
6,GEMM,"[1, 6144, 256, 172032]",245.409415,541165.879296,84.0,2016.0,3.0,2103.0

,MACs (MFLOP),Total Data (MB),Model Weights (MB),Unused Weights (MB),KV Cache (MB),AR data (MB),Pipe data (MB)
0,7.318624e+07,269960.0,248640.0,0,160.0,960.0,0.0